.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  align-items: center;
  border: 1px solid &black;
  border-radius: 5px;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  outline: 0;

  &--wide {
    width: 100%;
  }
}
